body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

#h001{

  text-align: center;
    color: darkblue;
}


input, button{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

input:focus{
    border: 2px solid blue;
 }

.box{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}




