/* SCSS HEX */
$oxford-blue: #011936ff;
$delft-blue: #142b55ff;
$yale-blue: #233a6eff;
$yinmn-blue: #41569fff;
$true-blue: #506ab1ff;
$glaucous: #5c7ac0ff;
$jordy-blue: #8cbcfaff;
$jordy-blue-2: #a3c9fbff;
$uranian-blue: #b5d4fcff;
$columbia-blue: #c4ddfdff;

/* SCSS RGB */
$oxford-blue: rgba(1, 25, 54, 1);
$delft-blue: rgba(20, 43, 85, 1);
$yale-blue: rgba(35, 58, 110, 1);
$yinmn-blue: rgba(65, 86, 159, 1);
$true-blue: rgba(80, 106, 177, 1);
$glaucous: rgba(92, 122, 192, 1);
$jordy-blue: rgba(140, 188, 250, 1);
$jordy-blue-2: rgba(163, 201, 251, 1);
$uranian-blue: rgba(181, 212, 252, 1);
$columbia-blue: rgba(196, 221, 253, 1);